html
  head
    title some title
  body
    table 
      tbody
        tr
          td Jméno: 
          td #{name}
        tr
          td Firma: 
          td #{company}
        tr
          td Telefon: 
          td #{phone}
        tr
          td E-mail: 
          td #{email}
        tr
          td IČO: 
          td #{ico}
        tr
          td DIČ: 
          td #{dic}
        tr
          td Poznámka: 
          td #{note}
